body, h1, h2{
    padding: 0;
    margin: 0;
}

.square {
    position: relative;
    border: 5px solid white;
    width: 20%;
    margin: 5%;
}

.square:after {
    content:"";
    display: block;
    padding: 30%;
}

.content {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
  }

 .button:hover{
	color:white;
}

.blackline {
    border-bottom: black 6px solid;
}

.blacklinetop {
    border-top: black 6px solid;
}

.bg-color {
    background-color: black;
}

.banner1,.main-footer {
    text-align: center;
    /* padding-top:60px; */
}

.banner1 {
    background-color:tomato ;
    display: flex;
    height: 650px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.8;
    background: url("img/Chicken-Shawarma-Lavash-Wrap.jpg") no-repeat center center fixed;
    background-size: cover;
    /* padding: 35px, 10px; */
    /* margin-top: 80px; */
}

.banner2 {
    background-color:tomato ;
    display: flex;
    height: 650px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.8;
    background: url("img/shawarma2.jpg") no-repeat center center fixed;
    background-size: cover;
}

.banner3 {
    background-color: black;
    display: flex;
    height: 650px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.8;
    background-size: cover;
}

.button {
	color: white;
	text-align: center;
	padding: .625em 1.25em;
    border-radius: .35em;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}
 














/*-------------------------------------- Media Queries-----------------------------------------------*/

/* Target viewport sizes 576px*/

@media (min-width: 320px) {

    nav {
        margin-top: 24px;
      }
  
    nav li{
      display: inline-block;
      margin: 0 0.45em;
    }

    h2 {
        margin-bottom: 1.5em;
      }

}

/* Target viewport sizes 768px and wider */

@media (min-width: 768px) {
    .imgflex {
        display: flex;
        flex-direction: row;
        width:500px;
    }
}